
  .input {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #70D024;
    padding: 8px;
    margin-right: 10px;
  }

  .img{
    position: absolute;
    width: 30PX;
    height: 30PX;
    cursor: pointer;
  }

