.container {
  background: radial-gradient(circle farthest-corner at center, #FEFE78, #FFFE6B, #70D024);
  height: 60px;
  position: sticky; /* Hace que el header sea pegajoso */
  top: 0; /* Se pegará en la parte superior */
  z-index: 1000; /* Asegura que esté por encima del contenido */
  margin: 0;
  display: flex; /* Utilizamos flexbox para alinear los elementos en línea */
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

/* Estilos opcionales para los botones y el SearchBar */
.button{
  margin: 5px; /* Agrega un pequeño margen entre los elementos */
}

.SearchBar {
  flex-direction: row;
  display: flex;
}